<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Development Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/prod.css">
    </head>
    <body>
    <% if(currentUser){ %>
        <% if(currentUser.username === "admin"){ %>
            <div class="adminNav">
                admin nav here
            </div>
        <% } %> 
    <% } %>   
    <div class="container flash-messages">
        <% if(error && error.length > 0){%>
            <div class="callout alert" role="alert">
                <%= error %> 
            </div>
        <%}%>
        <% if(success && success.length > 0){%>
             <div class="callout success" role="alert">
                <%= success %> 
            </div>
        <%}%>
    </div>
    
