<% include ./partials/header %>
<div class="row">
    <div class="medium-8 small-10 medium-offset-2 small-offset-1 columns">
    <a href="/posts" class="left marg-2 bounce-left-infinite">&laquo  back</a>
    <img src="/me_normal.jpg" alt="">
    <div class="caption-full">
        <h3>About the Author</h3>
        <hr>
        <div class="body-type">
            <p>
                Hey, My name's Ethan Bellora and i'm a full stack developer, student, and cloud conquistidor. 
                I'm from all over and based out of Atlanta Georgia (so i'm half black half 'good ol' boy'). I love working with <i>bleeding edge technology</i> but 
                I focus on the basics (html5, css3, ES6/7). Javascript frameworks come and go but the fundamentals never change. Working with the html5 api has led to the success of many startups aswell.
                Currently looking for employment.
            </p>
            <p>
                <strong>Some technologies i use and appreciate: </strong>
                <ul>
                    <li>AWS</li>
                    <li>NodeJS</li>
                    <li>AJAX</li>
                    <li>REST</li>
                    <li>Foundation</li>
                    <li>React + Redux + GraphQl</li>
                    <li>EJS for templating</li>
                    <li>NoSQL DB's like MongoDB</li>
                    <li>Check out my <a href="https://github.com/Ethanb75">Github</a> for more....</li>
                </ul>
            </p>
            <p>
                My interests include cooking, 70's soft rock, and judging movies too critically. Contact me for some
                awesome recipies my roommates love and sometimes eat. 
            </p>
            <hr class="hr-break">
            <p>
                <strong>Contact me with dreams or just to say hey</strong>
                <dl>
                    <dt>Twitter</dt>
                        <dd><a href="https://twitter.com/EthanBellora">https://twitter.com/EthanBellora</a></dd>
                    <dt>Github</dt>
                        <dd><a href="https://github.com/Ethanb75">https://github.com/Ethanb75</a></dd>
                    <dt>Email</dt>
                        <dd>Belloramail@gmail.com</dd>
                </dl>
            </p>
            
        </div>
    </div>
    <a href="/posts" class="left marg-2 bounce-left-infinite"><span>&laquo</span> back</a>
    <footer class="footer">
        <p>
            <a href="/">Home</a> | <a href="/about">About</a> | <a href="https://github.com/Ethanb75">Projects</a>
            <span>Copywrite</span>
        </p>
    </footer>
</div>
   



<% include ./partials/footer %>