<% include ./partials/header %>

<div class="text-center login-container">
    <h1> Login Page</h1>
    <!--only difference in forms is where we are submitting the post to, /login or /register-->
    <form class="login-form" action="/login" method="POST">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
          <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="sizing-addon2">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="sizing-addon2">
        </div>
        <input class="btn btn-default" type="submit" value="Login">
    </form>
</div>





<% include ./partials/footer %>