/*body {*/
/*    background-image: url("images/overlay.png"), linear-gradient(180deg, #3D9951 15%, #184D24 85%);*/
/*}*/
p > .btn {
    /*margin: 9px;*/
}
.head-container h1 {
    font-size: 72px;
    margin-bottom: 30px;
}
.head-container .btn-primary, p > .btn.btn-primary {
    border: none;
    background-color: #FF8A80;
    position: relative;
    transition: box-shadow .4s ease;
}
.head-container .btn-primary:hover, p > .btn.btn-primary:hover {
    top: -1px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: box-shadow .4s ease;
}
.thumbnail > p {
    padding: 9px;
}
.alert-success {
    border: none;
    background-color: transparent;
    opacity: 0;
    animation: fadout 3s ease;
    color: rgb(51,51,51);
}
.flash-messages {
    position: absolute;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
    /*background-color: rgb(56, 95, 97);*/
    /*background-color: #00838F;*/
    background-color: #D32F2F;
}
.navbar-brand {
    padding: 4px
}
.head-container {
    margin: 20rem auto;
    color: whitesmoke;
}
.welcome {
    text-transform: uppercase;
    color: rgba(250,250,250,0.4)
}
.minor {
    text-transform: uppercase;
    color: rgba(15,15,15,0.4)
}
.collapse > .nav > li > a {
    color: whitesmoke;
}
.thumbnail {
    padding: 0;
    border-radius: 4px;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.thumbnail img {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.thumbnail .caption-full {
    padding: 1em;
}
.editComment {
    float: left;
    margin-right: 10px;
}
.deleteForm {
    display: inline;
}
form {
    width: 40%;
    margin: 0 auto;
}
form > .input-group:nth-of-type(2){
    margin-bottom: 1rem;
}

/*Svg styling*/
.rb {
    height: 5rem;
    z-index: 10;
}
.diagonal {
    width: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
    
}
/*responsive button styling*/
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-toggle, .navbar-default .navbar-toggle {
    border: none;
}
.fa-coffee {
    margin: 4px 0px 4px 8px;
    /*color: rgb(51,51,51);*/
}
.fa {
    color: whitesmoke;
}
.btn-primary:active:focus {
    background-color: #FF8A80;
}
.navbar-header > .navbar-toggle {
    margin: 4px 8px 4px 0px;
}

/*Login Style*/
.login-container {
    position: relative;
    top: 30vh;
}
/*Show style*/
.thumbnail-show {
    margin-top: 16px;
}
.caption-full hr {
    margin-right: 50%;
    border-top: 1px solid #D32F2F;
}
.caption-full .body {
    text-align: justify;
    padding: .6rem;
    line-height: 1.8;
}
.body::first-letter {
    font-size: 48px;
    font-style: italic;
    line-height: 1;
}
/*Animations*/
@keyframes fadout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .head-container {
        margin: 5rem auto;
    }
    .head-container h1 {
        font-size: 40px;
    }
    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
    }
    body {
        margin-bottom: 50px;
    }
    .login-form {
        width: 80%;
    }
}