<% include ../partials/header %> 
 <?xml version="1.0" encoding="utf-8"?>
    <svg class="diagonal" viewBox="0 0 1000 800" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <pattern id="pattern-0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse" viewBox="0 0 100 100">
            <path d="M 0 0 L 50 0 L 50 100 L 0 100 Z" style="fill: black;"/>
            </pattern>
        </defs>
        <path d="M 0 800 L 1000 400 L 1000 0 L 0 0 L 0 800 Z" style="stroke: transparent; fill: #D32F2F;"/>
    </svg>
 
 <div class="container">
     <header class="row head-container">
         
         <div class="col-sm-offset-1 col-sm-10 text-center">
            <p class="welcome">
                <small>welcome to</small>
            </p>
            <h1 style="font-family: 'Slabo 27px'" class>Ryan's Blog</h1>
            <a href="/posts/new" class="btn btn-primary">Recent Post</a>
         </div>
     </header>
     <div class="row" style="display:flex; flex-wrap: wrap;">
        <% posts.forEach(function(post){ %>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="thumbnail">
                   <img src="<%= post.image %>">
                   <div class="caption">
                       <h4 style="color: #D32F2F"><%= post.name %></h4>
                   </div>
                   <p>
                       <%- post.body.substring(0,300) %> . . .
                   </p>
                   <p>
                       <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
